* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  position: relative;
}

.screen {
  height: 100vh;
  text-align: center;
  padding: 20px;
  padding-top: 20%;
  font-size: 50px;
  overflow: hidden;
}

.screen-1 {
  background: url('1.jpg') center / cover no-repeat;
}

.screen-2 {
  background: url('2.jpg') center / cover no-repeat;
}

.screen-3 {
  background: url('3.jpg') center / cover no-repeat;
}


@keyframes smoke-anim {   
  0% {     
    opacity: 0;   
  }   
  50% {     
    opacity: 1;
    width: 150%;
    transform: rotate(-40deg);
    top: -800px;
    left: -300px;
  } 
  100% {
    opacity: 0;
    width: 200%;
    transform: rotate(-20deg);
    top: -800px;
    left: -500px;
   }
}

@keyframes dots-anim {   
  0% {     
    opacity: 0;   
  }   
  50% {     
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    width: 105%;
    transform: rotate(10deg);
    top: -50px;
    left: -100px;
   }
}


@keyframes dark-anim {   
  0% {     
    opacity: 0;   
  }   
  50% {     
    opacity: 1;   
  } 
  100% {
    opacity: 0;   
  }
}

.smoke {
  opacity: 0;   
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  transition: all;
}

.dots {
  opacity: 0;   
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  transition: all;
}


.smoke img,
.dots img  {
  width: 100%;
  object-fit: cover;
}

.animation-smoke {
  animation: smoke-anim 4s ease 1;
}

.animation-dots {
  animation: dots-anim 1s linear 1;
}

.dark-anim {
  animation: dark-anim 4s ease 1;
}
.dark-bg {
  background-color: #000;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}